name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Build & run
        run: |
          cd /opt/the_rawcodders
          git pull origin main
          cd "/opt/the_rawcodders/The RawCodders"
          sudo docker compose -f "/opt/the_rawcodders/The RawCodders/docker-compose.yml" down
          sudo docker compose build
          sudo docker compose run --rm convex-deploy
          sudo docker compose -f "/opt/the_rawcodders/The RawCodders/docker-compose.yml" up -d --build
