name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Build & run
        run: |
          cd /opt/the_rawcodders
          git pull origin main
          cd "The RawCodders"
          docker compose -f ./docker-compose.yml down
          docker compose -f ./docker-compose.yml up -d --build
